/* Base */

/* Body */

body {
    background-color: var(--base-background-color);
    color: var(--primary-text-color);
    font-family: var(--main-font), sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
}

.page {
    background-color: var(--full-white-color);
    color: var(--secondary-text-color);
    font-family: $fonts;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/* Скритий заголовок */

.visually-hidden {
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;

}

/* Секції */

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

/* Контейнер */

.container {
    width: 1200px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;

}

/* Заголовки */

.title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
}

.cta-title {
    margin-top: 12px;
    margin-bottom: 20px;
    color: var(--full-white-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
}