/* Base */

body {
  background-color: var(--base-background-color);
  color: var(--primary-text-color);
  font-family: var(--main-font), sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}